*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;

    

}

body{
    width: 60%;
    margin: 0 auto;
    padding: 2% 0;
    background-color: #F2F2F2;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400px;
    font-style: normal;
    line-height: 1.5;
    color: #444;
    
}


section{
    margin-top: 30px;
    padding-bottom: 5px;
    border-top: solid 1px gray;
}

header{
    height: 25%;
    width: 100%;
    position: relative;
    background-color: white;
}

main{
    padding: 20px;
    background-color: white;

}

p{
    margin: 10px 0;
}

h1{
    color: rgb(140, 76, 8);
    text-align: left;
    padding-top: 25px;
    margin: 0 auto;

}

h2{
    font-size: 25px;
    color: rgb(140, 76, 8);
    margin-top: 25px;
    text-align: left;

}

.imagem{
    height: 150px;
    width: 150px;
    
}

.endereco{
    height: 30px;
    width: 30px;
}

.whats{
    height: 30px;
    width: 30px;
}

.mail{
    height: 30px;
    width: 30px;
}

ol li{
    padding-left: 8px;
    margin-top: 10px;
    list-style: decimal;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #444;
}

ul li{
    padding-left: 8px;
    list-style-type: circle;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #444;
}

